.text{
  font-size: 25px;
  text-align: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textDestak{
  color: #555;
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0px;
}

body{
  font-family: 'Nunito Sans','sans-serif';
  background-color: aliceblue;
}

.header{
  background-color: rgb(247, 7, 7);
  padding: 30px 50px;
  color: aliceblue;
  text-align: center;
}

.main{
  padding: 30px 50px;
}

.card{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.lineInput{
  display: grid;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 10px;
}

.btn{
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: rgb(255, 0, 0);
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  transition: all ease 0.3s;
}

.btn:hover{
  background-color: rgb(233, 81, 81);
}

table{
  border-collapse: collapse;
  /* border: 1px solid #ccc; */
  width: 100%;
}

/* /* table th{
  background-color: rgb(214,214,214);
} */

/* table th, td{
  padding: 1px, 5px;
  text-align: left;
} */

table td img{
  width: 20px;

}

.center{
  text-align: center;
}

